parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:\$count\.$#'
			identifier: property.notFound
			count: 1
			path: src/Commands/StatusCommand.php

		-
			message: '#^Access to an undefined property Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:\$count\.$#'
			identifier: property.notFound
			count: 1
			path: src/Commands/TestDualAgentCommand.php

		-
			message: '#^Method Ihasan\\DualAgent\\Contracts\\CustomIngestContract\:\:write\(\) has parameter \$record with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Contracts/CustomIngestContract.php

		-
			message: '#^Method Ihasan\\DualAgent\\Contracts\\CustomIngestContract\:\:writeNow\(\) has parameter \$record with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Contracts/CustomIngestContract.php

		-
			message: '#^Method Ihasan\\DualAgent\\Contracts\\DataTransformerContract\:\:supports\(\) has parameter \$record with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Contracts/DataTransformerContract.php

		-
			message: '#^Method Ihasan\\DualAgent\\Contracts\\DataTransformerContract\:\:transform\(\) has parameter \$record with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Contracts/DataTransformerContract.php

		-
			message: '#^Method Ihasan\\DualAgent\\DTOs\\MetricDto\:\:__construct\(\) has parameter \$customMetadata with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DTOs/MetricDto.php

		-
			message: '#^Method Ihasan\\DualAgent\\DTOs\\MetricDto\:\:__construct\(\) has parameter \$rawData with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DTOs/MetricDto.php

		-
			message: '#^Method Ihasan\\DualAgent\\DTOs\\MetricDto\:\:fromNightwatchRecord\(\) has parameter \$record with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DTOs/MetricDto.php

		-
			message: '#^Method Ihasan\\DualAgent\\DTOs\\MetricDto\:\:jsonSerialize\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DTOs/MetricDto.php

		-
			message: '#^Method Ihasan\\DualAgent\\DTOs\\MetricDto\:\:toArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DTOs/MetricDto.php

		-
			message: '#^Access to an undefined property Illuminate\\Contracts\\Foundation\\Application\:\:\$config\.$#'
			identifier: property.notFound
			count: 1
			path: src/DualAgentServiceProvider.php

		-
			message: '#^Cannot access offset ''config'' on Illuminate\\Contracts\\Foundation\\Application\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: src/DualAgentServiceProvider.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 3
			path: src/DualAgentServiceProvider.php

		-
			message: '#^Left side of && is always false\.$#'
			identifier: booleanAnd.leftAlwaysFalse
			count: 1
			path: src/DualAgentServiceProvider.php

		-
			message: '#^Method Ihasan\\DualAgent\\DualAgentServiceProvider\:\:isNightwatchProperlyConfigured\(\) has parameter \$app with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/DualAgentServiceProvider.php

		-
			message: '#^Method Ihasan\\DualAgent\\DualAgentServiceProvider\:\:provides\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DualAgentServiceProvider.php

		-
			message: '#^Method Ihasan\\DualAgent\\Exceptions\\DualAgentException\:\:__construct\(\) has parameter \$context with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Exceptions/DualAgentException.php

		-
			message: '#^Method Ihasan\\DualAgent\\Exceptions\\DualAgentException\:\:getContext\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Exceptions/DualAgentException.php

		-
			message: '#^Method Ihasan\\DualAgent\\Exceptions\\DualAgentException\:\:setContext\(\) has parameter \$context with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Exceptions/DualAgentException.php

		-
			message: '#^Method Ihasan\\DualAgent\\Exceptions\\DualAgentException\:\:toArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Exceptions/DualAgentException.php

		-
			message: '#^Property Ihasan\\DualAgent\\Exceptions\\DualAgentException\:\:\$context type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Exceptions/DualAgentException.php

		-
			message: '#^Class Ihasan\\DualAgent\\Facades\\DualAgent has PHPDoc tag @method for method write\(\) parameter \#1 \$record with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/DualAgent.php

		-
			message: '#^Class Ihasan\\DualAgent\\Facades\\DualAgent has PHPDoc tag @method for method writeNow\(\) parameter \#1 \$record with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/DualAgent.php

		-
			message: '#^Call to an undefined method Ihasan\\DualAgent\\Contracts\\CustomIngestContract\:\:shouldDigestWhenBufferIsFull\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Ingest/CompositeIngest.php

		-
			message: '#^Method Ihasan\\DualAgent\\Ingest\\DatabaseIngest\:\:saveToDatabase\(\) has parameter \$records with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Ingest/DatabaseIngest.php

		-
			message: '#^Method Ihasan\\DualAgent\\Ingest\\DatabaseIngest\:\:transformRecordToMetric\(\) has parameter \$record with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Ingest/DatabaseIngest.php

		-
			message: '#^Method Ihasan\\DualAgent\\Ingest\\DatabaseIngest\:\:transformRecordToMetric\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Ingest/DatabaseIngest.php

		-
			message: '#^Method Ihasan\\DualAgent\\Ingest\\DatabaseIngest\:\:write\(\) has parameter \$record with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Ingest/DatabaseIngest.php

		-
			message: '#^Method Ihasan\\DualAgent\\Ingest\\DatabaseIngest\:\:writeNow\(\) has parameter \$record with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Ingest/DatabaseIngest.php

		-
			message: '#^Property Ihasan\\DualAgent\\Ingest\\DatabaseIngest\:\:\$buffer type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Ingest/DatabaseIngest.php

		-
			message: '#^Variable \$records on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/Ingest/DatabaseIngest.php

		-
			message: '#^Class Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric has PHPDoc tag @property for property \$top_exceptions with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeBetweenDates\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeBetweenDates\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeDaily\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeDaily\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeExceptions\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeExceptions\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeHourly\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeHourly\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeJobs\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeJobs\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeQueries\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeQueries\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeRequests\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeRequests\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeThisMonth\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeThisMonth\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeThisWeek\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeThisWeek\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeToday\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeToday\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeWeekly\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeWeekly\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeYesterday\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentAggregatedMetric\:\:scopeYesterday\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentAggregatedMetric.php

		-
			message: '#^Class Ihasan\\DualAgent\\Models\\DualAgentMetric has PHPDoc tag @property for property \$bindings with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Class Ihasan\\DualAgent\\Models\\DualAgentMetric has PHPDoc tag @property for property \$custom_metadata with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Class Ihasan\\DualAgent\\Models\\DualAgentMetric has PHPDoc tag @property for property \$exception_trace with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Class Ihasan\\DualAgent\\Models\\DualAgentMetric has PHPDoc tag @property for property \$log_context with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Class Ihasan\\DualAgent\\Models\\DualAgentMetric has PHPDoc tag @property for property \$mail_to with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Class Ihasan\\DualAgent\\Models\\DualAgentMetric has PHPDoc tag @property for property \$raw_payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeBetweenDates\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeBetweenDates\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeCache\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeCache\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeErrors\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeErrors\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeExceptions\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeExceptions\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeFailedJobs\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeFailedJobs\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeJobs\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeJobs\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeLogs\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeLogs\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeMail\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeMail\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeQueries\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeQueries\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeRequests\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeRequests\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeSlowQueries\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeSlowQueries\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeSlowRequests\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeSlowRequests\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeThisMonth\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeThisMonth\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeThisWeek\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeThisWeek\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeToday\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeToday\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeYesterday\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:scopeYesterday\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Models\\DualAgentMetric\:\:user\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Unable to resolve the template type TRelatedModel in call to method Illuminate\\Database\\Eloquent\\Model\:\:belongsTo\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Models/DualAgentMetric.php

		-
			message: '#^Method Ihasan\\DualAgent\\Support\\DataTransformer\:\:shouldSendRecord\(\) has parameter \$record with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Support/DataTransformer.php

		-
			message: '#^Method Ihasan\\DualAgent\\Support\\DataTransformer\:\:supports\(\) has parameter \$record with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Support/DataTransformer.php

		-
			message: '#^Method Ihasan\\DualAgent\\Support\\DataTransformer\:\:transform\(\) has parameter \$record with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Support/DataTransformer.php
